/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Permanent+Marker&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');


body {
  background-color: whitesmoke;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;
}

.App {
text-align: center;
 min-height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


img {
  max-width: 100%;
}

h1 {
  color:  #5a5958;
}

nav {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}



.usernav{
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  margin-bottom: -20px;
  height: 70px;
}


#register, #Login {
  margin: 8px;
}


.wishlist{
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.list {
  font-size: 30px;
  font-weight: 300;
  margin-right: 15px;
  color: white;
}


/* img.destination:hover {
  opacity: 0.8;
} */

.explore {
  text-align: left;
  font-size: 40px;
  margin: -30px 0 0 20px;
}

div.container {
  position: relative;
}

.search-bar {
  position: fixed;
  top: 16%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  opacity: 0.9;
  padding: 3px;
  border-radius: 10px;
}

.search-bar input[type="text"] {
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: black;
  color: white;
}

::placeholder {
  color: grey;
}

button#user {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: white;
  border: none;
  box-shadow: 3px 3px 10px #c5c5c5;
  /* -1px -1px 10px #ffffff; */
  padding: 4px;
  width: 110px;
  font-size: 15px;
}



.img-main {
  display: inline-block;
}

img.destination {
  width: 930px;
  height: 730px;
  margin: 0.5px;
  margin-bottom: -14px;
  border-radius: 5px;
}

button#user:hover {
  background-color: black;
  color: azure;
}

button {
  margin: 5px;
}


button#searchbttn{
  width: 15%;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}



.name {
  font-size: 75px;
  margin-top: -26px;
  margin-bottom: 0px;
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Zeyada', cursive;
  color: black;
}

div.title {
  height: 60px;
}

#icons {
  width: 80px;
  height: 80px;
}

#icon {
  width: 25px;
  height: 25px;
}



#icon2 {
  width: 20px;
  height: 20px;
  margin: 5px;
}


a {
  text-decoration: none;
  color:black;
}


.activity_container{
  display: inline-block;
  position: relative;
  width: 600px;
  height: 500px;
  margin-bottom: 1.5em;
  line-height: 0.7;
}

.activities {
  width: 500px;
  height: 400px;
  opacity: 0.;
  margin: 2px;
  border-radius: 10px;
}


.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-num{
  margin-top: 10px;
  font-weight: lighter;
}

.address {
  position: absolute;
  background-color: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease;
}


.add-wish {
  position: absolute;
  border: none;
  top: 10%;
  left: 85%;
  background: transparent;
  transform: translate(-50%, -50%);
}

#star1 {
  width: 44px;
  height: 40px;
  margin-top: -25px;
  margin-right: 5px;
}


.activity_container:hover {
  opacity: 0.6;
  color: black;
}

.activity_container:hover .address {
  opacity: 1;
}


.act-name {
  margin-bottom: 0;
  margin-top: 1px;
  font-size: 30px;

}


#star {
  width: 15px;
  height: 15px;
  margin-top: -25px;
  margin-right: 5px;
}


.header {
  height: 50px;
  margin-bottom: 0;
}

.category {
  margin-top: -15px;
  margin-bottom: 0px;
  color: black;
  font-size: 30px;
  font-weight: lighter;
}

section.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #5a5958;
  font-size: 30px;
  font-family: 'Dongle', sans-serif;
}

.wishlist-footer {
  margin-left: 25px;
}

.wishlist-footer:hover, .main-footer:hover, .category:hover{
  font-weight: bolder;
}

/* .nav-header{
  list-style: none;
  margin-top: 100px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
} */


.header-background {
  background-image: url("https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-size: cover;
  height: 200px;
  margin-bottom: 50px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; 
}

.subheading {
  color: grey;
  margin-top: -50px;
  font-size: 35px;
  margin-bottom: 8px;
}


.cityName {
  font-size: 70px;
  margin: -30px 0px 20px 30px;
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Zeyada', cursive;
  text-align: left;
}


/* .grid-register {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border: 1px solid black;
} */

.grid-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  /* width: 60%; */
  margin-left: 350px;
  margin-right: 350px;
  margin-top: -30px;
  height: 700px;
  box-shadow:  6px 6px 12px #c7c7c7,
  -6px -6px 12px #ffffff;
}

.grid-welcome {
  background-image: url("https://images.pexels.com/photos/5217882/pexels-photo-5217882.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-size: cover;
}

.grid-user {
  width: 100%;
  background-color: white;
}

.grid-user:hover {
  border: 1px solid #5a5958;
}

.user-pw {
    font-size: 38px;
    margin: 0px;
    height: 20px;
    text-align: center;
}


.user-input{
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: whitesmoke;
  color: black;
}

.user-pw-bttn {
  border-radius: 5px;
  box-shadow: white;
  background-color: whitesmoke;
  box-shadow: 3px 3px 10px #c5c5c5;
  padding: 5px;
  width: 110px;
  font-size: 15px;
}

/* 
@media (min-width: 50em) {
  .grid-register {
    grid-template-areas: 
      'one one two two';
  }
} */

form {
  margin-top: 150px;
}

p {
  text-align: center;
  line-height: 1;
  margin: 30px;
  font-size: 25px;
}

.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /*on top of other elements */
}

.popup-box {
  max-width: 350px;
  text-align: center;
  border: solid grey;
  background-color: white;
}