/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Permanent+Marker&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');


.App {
text-align: center;


}

body {
  background-color: whitesmoke;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;

}

/* 
setting top, left and right to 0 to position the nav at the top */


nav {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul {
  list-style: none;
  margin: 50;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.usernav{
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}


#register, #Login {
  margin: 8px;
}


#wishlist{
  margin: 15px;
}


.img-main {
  display: inline-block;
}

img.destination {
  width: 900px;
  height: 700px;
  opacity: 0.;
  margin: 2px;
  border-radius: 10px;
}

.container {
  position: relative;
}


.search-bar {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: rgb(29, 28, 28);
  opacity: 0.9;
  padding: 20px;
  border-radius: 5px;
}

.search-bar input[type="text"] {
  width: 70%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button#user {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: white;
  border: none;
  box-shadow: 3px 3px 10px #c5c5c5,
  -1px -1px 10px #ffffff;
  padding: 10px;
  width: 120px;
  font-size: 15px;
}

button#user:hover {
  background-color: black;
  color: azure;
}

button {
  margin: 5px;
}


button#searchbttn{
  width: 20%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}



.name{
  font-size: 70px;
  margin-top: 60px;
  margin-bottom: 0;
  text-decoration: none;
  font-family: 'Caveat', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Zeyada', cursive;
}

#icons {
  width: 80px;
  height: 80px;
}

#icon {
  width: 40px;
  height: 40px;
}

#icon2 {
  width: 20px;
  height: 20px;
  margin: 5px;
}


a {
  text-decoration: none;
  color:black;
}

.activity_container{
  display: inline-block;
  width: 600px;
  height: 500px;
  margin-bottom: 3em;
  line-height: 0.4;

}

.activities {
  width: 500px;
  height: 400px;
  opacity: 0.;
  border-radius: 10px;
}